*.a
*.o
*.os
*.pyc
*.so
*.dylib
.sconf_temp
.sconsign.dblite
ups/*.cfgc
.deps
Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
man/Makefile
psfex.spec
src/Makefile
src/fits/Makefile
src/levmar/Makefile
src/psfex
src/wcs/Makefile
stamp-h1
python/lsst/meas/extensions/psfex/psfexLib_wrap.*
python/lsst/meas/extensions/psfex/psfexLib.py
python/lsst/meas/extensions/psfex/version.py

psfex.xml
sc*-mod.fits
